/* CSS file */
a {
    color: #24a449;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.bold {
    font-weight: bold
}

.normal {
    font-family: "Segoe UI", Verdana, Arial, _serif;
    font-size: 11;
    leading: 1;
}

.info {
    font-family: "Segoe UI", Verdana, Arial, _serif;
    font-size: 10;
    color: #888888;
}

.big {
    font-family: "Segoe UI", Verdana, Arial, _serif;
    font-size: 12
}